@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

html, body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	width: 100%;
	height: 100%;
	
	overflow-y: visible;
}

body {
	margin: 0;
	padding: 0;
	
    background: linear-gradient(to right, rgb(245, 205, 214), rgb(255, 244, 248));
    font-family: Nunito, sans-serif;
}

.font {
    color: white;
    -webkit-text-stroke: 2px black;
}

.container {
	display: flex;	
	width: 100%;
	
	justify-content: center;
	align-items: center !important;
}

.text {	
	min-height: 143px;
	height: 20%;
	
	flex-direction: column;
}

.img {
	min-height: 400px;
	height: 60%;
}

.score {
	min-height: 101px;
	height: 20%;
}

.scoreItem {
	display: flex;
	align-items: center;
	
	margin: 42px 0 24px 0;
	padding: 0 0 0 0;
	
	width: 170px;
	height: 35px;
	
	background-color: white;
	
	border: 2px solid black;
	border-radius: 35px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
	
	font-size: 15px;
}

.userScore {
	margin-right: 40px;
}

.textTitle {
    margin: 24px 0 0 0;
    font-size: 72px;
}

.textScore {
    margin: -12px 0 0 0;
    font-size: 36px;
}

#pop {
	width: 400px;
	height: 400px;
}

@media only screen and (max-width: 475px) {
	.img {
		min-height: 300px;
	}
	
	.score {
		flex-direction: column;
		justify-content: flex-end !important;
		
		min-height: 150px;
	}
	
	.scoreItem {		
		font-size: 14px;
	}
	
	.userScore {
		margin: 42px 0 8px 0;	
	}
	
	.totalScore {
		margin: 0 0 24px 0;
	}
  
	.textTitle {
		font-size: 64px;
	}

	.textScore {
		font-size: 32px;
	}
	
	#pop {
		width: 300px;
		height: 300px;
	}
}

@media only screen and (max-width: 375px) {
	.img {
		min-height: 250px;
	}
	
	.scoreItem {
		width: 140px;
		
		font-size: 13px;
	}
	
	.textTitle {
		font-size: 56px;
	}
	
	.textScore {
		font-size: 28px;
	}
	
	#pop {
		width: 250px;
		height: 250px;
	}
}

@media only screen and (max-width: 325px) {
	.img {
		min-height: 200px;
	}
	
	.textTitle {
		font-size: 48px;
	}
	
	.scoreItem {
		width: 130px;
		
		font-size: 12px;
	}
	
	#pop {
		width: 200px;
		height: 200px;
	}
}