@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

html, body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	width: 100%;
	height: 100%;
	
	overflow-y: visible;
}

body {
	margin: 0;
	padding: 0;
	
    background: linear-gradient(to right, rgb(250, 204, 214), rgb(255, 244, 248));
    font-family: Nunito, sans-serif;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
}

.text {
	flex-direction: column;
	
	min-height: 151px;
	height: 20%;
	
    color: white;
    -webkit-text-stroke: 2px black;
}

.text > div {
	display: flex;
}

.text > div > * {
    margin: 16px 0 0 0;
    font-size: 72px;
}

.text > div > *:first-child {
    color: rgb(255, 163, 183);
}

.text > *:nth-child(2) {
    margin: -12px 0 0 0;
    font-size: 36px;
}

.img {
	min-height: 400px;
	height: 60%;
}

#img {
	width: 400px;
	height: 400px;
}

.lb {
	height: 20%;
	min-height: 122px;
}

.dialog {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	margin: 42px 0 24px;
	padding: 10px;
	
	border: solid 6px rgb(244, 171, 182);
	border-radius: 50px 50px;
	
	background-color: rgb(254, 217, 224);
}

.dialog > * {
	display: flex;
	align-items: center;
	
	margin: 0 0 0 0;	
	
	width: 170px;
	
	font-size: 18px;
	color: rgb(244, 171, 182);
}

.dialog > * > * {
	margin: 0 0 0 0;
}

.dialog > * > *:first-child {
	color: rgb(255, 118, 153);
}

@media only screen and (max-width: 475px) {
	.text {
		min-height: 135px;
	}
	
	.text > div > * {
		font-size: 64px;
	}

	.text > *:last-child {
		font-size: 32px;
	}
	
	.img {
		min-height: 300px;
	}
	
	.lb {
		flex-direction: column;
		justify-content: flex-end;
		
		min-height: 120px;
	}
	
	.dialog > * {
		font-size: 16px;
		
		width: 150px;
	}
	
	#img {
		width: 300px;
		height: 300px;
	}
}

@media only screen and (max-width: 375px) {
	.text {
		min-height: 119px;
	}
	
	.text > div > *  {
		font-size: 56px;
	}
	
	.text > *:nth-child(2)  {
		font-size: 28px;
	}
	
	.img {
		min-height: 250px;
	}
	
	#img {
		width: 250px;
		height: 250px;
	}
	
	.lb {
		min-height: 118px;
	}
	
	.dialog > * {
		width: 130px;
		
		font-size: 15px;
	}
}

@media only screen and (max-width: 325px) {
	.text {
		min-height: 102px;
	}
	
	.text > div > * {
		font-size: 48px;
	}
	
	.text > *:nth-child(2)  {
		font-size: 24px;
	}
	
	.img {
		min-height: 200px;
	}
	
	#img {
		width: 200px;
		height: 200px;
	}
	
	.lb {
		min-height: 117px;
	}
	
	.dialog > * {
		width: 110px;
		
		font-size: 14px;
	}
}

@media only screen and (max-width: 275px) {
	.dialog {
		flex-direction: column;
	}
	
	.dialog > * {
		width: 145px;
	}
	
	.dialog > div:not(:last-child) {
		margin-bottom: 6px;
	}
}